@import url(https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700);
@import url(https://fonts.googleapis.com/css?family=Arimo:300,400,400italic,700,700italic);

* {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
:root {
  --main-bg-color: #fff;
  --button-color: #fe9c2c;
  --main-text-color: #2b0101;
  --primary-bg-color: #212428;
  --heading-text-color: #545454;
  --headline-bar: #e5e5e5;
  --secondary-section: #f9f9f9;
  --form-color: #e8edf0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
  color: var(--heading-text-color);
}

strong {
  font-family: "Open Sans", sans-serif;
}

body {
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  color: #1f1f1f;
}
body::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}

.container {
  max-width: 1170px;
}

@media screen and (max-width: 575px) {
  .container {
    padding: 10px 15px;
  }
}

html {
  scroll-behavior: smooth;
}
